<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css">
    <title><%= title %></title>
  </head>
  <body>
    <h2>User Space</h2>
    <h3>Home/<%= path %></h3>
    <%- include('partials/pathMenu', {username:username, path:path}) %>
    <%- include('partials/add-folder-form', {username:username, path:path, parentId:parentId}) %>
    <%- include('partials/add-file-form', {username:username, path:path, parentId:parentId}) %>
    <ul>
      <h4>Folder:</h4>
      <% dirs.forEach(dir => { %>
      <li>
        <% if (path) { %>
        <a href="/user/<%= username %>/home/<%= path %>/<%= dir.name %>">
          <%= dir.name %>
        </a>
        <% } else { %>
        <a href="/user/<%= username %>/home/<%= dir.name %>">
          <%= dir.name %>
        </a>
        <% } %>
      </li>

      <% }) %>
    </ul>
    <ul>
      <h4>Files:</h4>
      <% files.forEach(file => { %>
      <li>
        <a href="<%= file.url %>?download=<%= file.name %>"><%= file.name %></a>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
