<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap");
    </style>
    <link rel="stylesheet" href="/styles.css" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('partials/header', {user:user}) %> 
    <%-include('partials/pathMenu', {username:username, path:path}) %> 
    <%- include('partials/add-file-form', {username:username, path:path, parentId:parentId}) %>
    <ul class="folder-contents">
      <li class="card add-folder-li">
        <input type="checkbox" id="add-folder-checkbox" />
        <label  class="add-folder-label folder-link" for="add-folder-checkbox">
          <svg class="folder-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <title>Add Folder</title>
            <path
              fill-rule="evenodd"
              d="M10,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V8C22,6.89 21.1,6 20,6H12L10,4Z M15,12H13V10H11V12H9V14H11V16H13V14H15V12Z"
            />
          </svg>
          <svg class="folder-open-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <title>Add Folder</title>
            <path d="M19 20H4a2 2 0 0 1-2-2V6c0-1.11.89-2 2-2h6l2 2h7a2 2 0 0 1 2 2H4v10l2.14-8h17.07l-2.28 8.5c-.23.87-1.01 1.5-1.93 1.5m-3-7h-2v-2h-2v2h-2v2h2v2h2v-2h2z"/>
          </svg>

          <p>Add Folder</p>
        </label>
        <%- include('partials/add-folder-form', {username:username, path:path, parentId:parentId}) %> 
      </li>
      <% dirs.forEach(dir => { %>
      <li class="card">
        <form action="/deleteFolder" method="post">
            <input type="hidden" name="parentId" value="<%= parentId %>">
            <input type="hidden" name="folderId" value="<%= dir.id %>">
            <input type="hidden" name="path" value="<%= path %>">
            <input type="hidden" name="username" value="<%= username %>">
            <button class="delete-folder" onclick="return confirm('Are You sure You wante to Delete this Folder?')">
                <svg class="delete-close-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>Delete Folder</title><path d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z" /></svg>
                <svg class="delete-open-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>Delete Folder</title><path d="M20.37,8.91L19.37,10.64L7.24,3.64L8.24,1.91L11.28,3.66L12.64,3.29L16.97,5.79L17.34,7.16L20.37,8.91M6,19V7H11.07L18,11V19A2,2 0 0,1 16,21H8A2,2 0 0,1 6,19Z" /></svg>
            </button>
        </form>
        <% if (path) { %>
        <a class="folder-link" href="/user/<%= username %>/home/<%= path %>/<%= dir.name %>">
          <svg class="folder-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <title>Folder</title>
            <path
              d="M10,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V8C22,6.89 21.1,6 20,6H12L10,4Z"
            />
          </svg>
          <svg class="folder-open-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>folder-open</title><path d="M19,20H4C2.89,20 2,19.1 2,18V6C2,4.89 2.89,4 4,4H10L12,6H19A2,2 0 0,1 21,8H21L4,8V18L6.14,10H23.21L20.93,18.5C20.7,19.37 19.92,20 19,20Z" /></svg>
          <p><%= dir.name %></p>
        </a>
        <% } else { %>
        <a class="folder-link" href="/user/<%= username %>/home/<%= dir.name %>">
          <svg class="folder-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <title>Folder</title>
            <path
              d="M10,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V8C22,6.89 21.1,6 20,6H12L10,4Z"
            />
          </svg>
          <svg class="folder-open-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>folder-open</title><path d="M19,20H4C2.89,20 2,19.1 2,18V6C2,4.89 2.89,4 4,4H10L12,6H19A2,2 0 0,1 21,8H21L4,8V18L6.14,10H23.21L20.93,18.5C20.7,19.37 19.92,20 19,20Z" /></svg>
          <p><%= dir.name %></p>
        </a>
        <% } %>
      </li>

      <% }) %> <% files.forEach(file => { %>
      <li class="card">
        <a href="<%= file.url %>?download=<%= file.name %>">
            <svg class="download-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>download</title><path d="M5,20H19V18H5M19,9H15V3H9V9H5L12,16L19,9Z" /></svg>
        </a>
        <form action="/deleteFile" method="post">
            <input type="hidden" name="filePath" value="<%= file.path %>">
            <input type="hidden" name="fileId" value="<%= file.id %>">
            <input type="hidden" name="path" value="<%= path %>">
            <input type="hidden" name="username" value="<%= username %>">
            <button class="delete-folder" onclick="return confirm('Are You sure You wante to Delete this File?')">
                <svg class="delete-close-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>Delete File</title><path d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z" /></svg>
                <svg class="delete-open-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>Delete File</title><path d="M20.37,8.91L19.37,10.64L7.24,3.64L8.24,1.91L11.28,3.66L12.64,3.29L16.97,5.79L17.34,7.16L20.37,8.91M6,19V7H11.07L18,11V19A2,2 0 0,1 16,21H8A2,2 0 0,1 6,19Z" /></svg>
            </button>
        </form>
        <%- include('partials/file-thumbnail', {file:file}) %>
        <p><%= file.name %></p>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
