<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap");
    </style>
    <link rel="stylesheet" href="/styles.css" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('partials/header', {user:user}) %> 
    <%-include('partials/pathMenu', {username:username, path:path}) %> 
    <%- include('partials/add-file-form', {username:username, path:path, parentId:parentId}) %>
    <ul class="folder-contents">
      <li class="card add-folder-li">
        <input type="checkbox" id="add-folder-checkbox" />
        <label class="add-folder-label" for="add-folder-checkbox">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <title>Add Folder</title>
            <path
              fill-rule="evenodd"
              d="M10,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V8C22,6.89 21.1,6 20,6H12L10,4Z M15,12H13V10H11V12H9V14H11V16H13V14H15V12Z"
            />
          </svg>
          <p>Add Folder</p>
        </label>
        <%- include('partials/add-folder-form', {username:username, path:path, parentId:parentId}) %> 
      </li>
      <% dirs.forEach(dir => { %>
      <li class="card">
        <form action="/deleteFolder" method="post">
            <input type="hidden" name="parentId" value="<%= parentId %>">
            <input type="hidden" name="folderId" value="<%= dir.id %>">
            <input type="hidden" name="path" value="<%= path %>">
            <input type="hidden" name="username" value="<%= username %>">
            <button onclick="return confirm('Are You sure You wante to Delete this Folder?')">Delete</button>
        </form>
        <% if (path) { %>
        <a href="/user/<%= username %>/home/<%= path %>/<%= dir.name %>">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <title>folder</title>
            <path
              d="M10,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V8C22,6.89 21.1,6 20,6H12L10,4Z"
            />
          </svg>
          <p><%= dir.name %></p>
        </a>
        <% } else { %>
        <a href="/user/<%= username %>/home/<%= dir.name %>">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <title>folder</title>
            <path
              d="M10,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V8C22,6.89 21.1,6 20,6H12L10,4Z"
            />
          </svg>
          <p><%= dir.name %></p>
        </a>
        <% } %>
      </li>

      <% }) %> <% files.forEach(file => { %>
      <li class="card">
        <a href="<%= file.url %>?download=<%= file.name %>"><%= file.name %></a>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
